.backBtn{
  text-align: left;
  margin-left: 30px;
}
.errorMsg {
  margin-top: 2px;
  color: rgb(216, 44, 13, 1);
}

.filterData {
  width: 50%;
  display: inline-block;
}

button.editBtn,
button.delBtn {
  padding: 2px 20px;
  border: 1px solid;
  border-radius: 5px;
  margin: 2px;
}

.navHeading {
  margin-top: 70px;
}

.UserPage {
  margin-bottom: 30rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {display: none;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* @media only screen and (max-width: 600px) {
  .userDatatable {
    background-color: lightblue;
  }
} */